.git
.idea
.vscode
node_modules
public/build
public/hot
vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
storage/*.key
npm-debug.log
yarn-error.log
docker-compose.yml
